/*
 * Droid Arabic Naskh (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/droid_naskh/DroidNaskh-Regular.eot');
  src: url('../fonts/droid_naskh/DroidNaskh-Regular.eot') format('embedded-opentype'),
       url('../fonts/droid_naskh/DroidNaskh-Regular.woff2') format('woff2'),
       url('../fonts/droid_naskh/DroidNaskh-Regular.woff') format('woff'),
       url('../fonts/droid_naskh/DroidNaskh-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/droid_naskh/DroidNaskh-Bold.eot');
  src: url('../fonts/droid_naskh/DroidNaskh-Bold.eot') format('embedded-opentype'),
       url('../fonts/droid_naskh/DroidNaskh-Bold.woff2') format('woff2'),
       url('../fonts/droid_naskh/DroidNaskh-Bold.woff') format('woff'),
       url('../fonts/droid_naskh/DroidNaskh-Bold.ttf') format('truetype');
}
